* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 25px;
    font-weight: 700;
    float: left;
    font-family: sans-serif;
    color: #1F4172; 
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 60px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: white;
    z-index: 1;
    border-bottom: 1px solid #1F4172;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight: bold;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bolds;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    font-family: 'comic sans-ms';
    color: #1F4172;
}


p {
    font-size: 15px;
    text-align: center;
    font-family: 'open sans', sans-serif;
    color: black;
}


a.tbl-biru {
    background: #1F4172;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #445D48;
    text-decoration: none;
}

a.tbl-hijau {
    background: #445D48;
    border-radius: 20px;
    margin-top: 10px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

a.tbl-hijau:hover {
    background: #1F4172;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

h2 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    font-family: 'open sans', sans-serif;
    color: black;
}